nav.menu
    .container-menu
        .row
            .col-left-menu
                | !{menus[0]}
            .col-center-logo
                h1
                    a(href="/")
                        img(src="/img/logo-shadow.png" class="img-fluid")
            .col-right-menu
                | !{menus[1]}
    .search-icon-link
        a(href="/wyszukiwanie")
            img(src="/img/search-icon.svg", alt="")