@mixin defaultFontLight($fontsize:1rem) {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: $fontsize;
}

@mixin defaultFontLightItalic($fontsize:1rem) {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: $fontsize;
  font-style: italic;
}

@mixin defaultFontRegular($fontsize:1rem) {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: $fontsize;
}

@mixin defaultFontRegularItalic($fontsize:1rem) {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: $fontsize;
  font-style: italic;
}


@mixin defaultFontSemiBold($fontsize:1rem) {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: $fontsize;
}

@mixin defaultFontSemiBoldItalic($fontsize:1rem) {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: $fontsize;
  font-style: italic;
}


@mixin defaultFontBold($fontsize:1rem) {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: $fontsize;
}

@mixin defaultFontBoldItalic($fontsize:1rem) {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: $fontsize;
  font-style: italic;
}


@mixin defaultFontExtraBold($fontsize:1rem) {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: $fontsize;
}


@mixin defaultFontExtraItalic($fontsize:1rem) {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: $fontsize;
  font-style: italic;
}