@import 'reset.scss';
@import 'mixins.scss';
@import 'fonts.scss';
@import 'responsive.scss';
@import 'gradient.scss';

$granat: #24266e;
$green: #008c45;
$yellow: #e8c31c;
$darkGreen: #384f40;
$mediumGreen:#68875e;
$lightGray:#f6f8f5;
$mediumGray: #cccccc;
$darkGray:#a3a3a3;
$bgColor: #fcfffb;
$bgColorRgba: rgba(252, 255, 251, 0.8);
$grayFont: #606060;
$orange: #F58220;
$bordo: #C92127;
$filtersGray:#333333;

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include defaultFontRegular(1rem);
  color: $grayFont;
  background: $bgColor;
}

img.img-fluid {
  max-width: 100%;
}

.container {
  // width: 1280px;
  width: 88%;
  margin: auto;

  @media(max-width: 1570px) {
    width: 80%;
  }

  .row {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
  }

}

.double-container {
  .row {
    display: flex;
    flex-wrap: nowrap;
    // justify-content: center;
    justify-content: flex-start;

    .col-left-double {
      width: calc(100% - 300px);
      // box-shadow: 10px 0px 20px $lightGray;

      .container {
        width: 100%;
        padding-left: 100px;
        padding-right: 64px;
      }
    }

    .col-right-double {
      width: 300px;
      min-height: 300px;

      .right-content-db {
        padding-left: 32px;
        padding-right: 100px;
      }
    }
  }
}

.double-container {

  .row {
    .col-right-double {
      .partners-cnt {
        width: calc(200px - 32px);
        padding-top: 64px;

        h2 {
          text-align: center;
          @include defaultFontSemiBold($fontsize:1.8rem);
          color: $green;
          margin: 0px 0 32px 0;
          text-transform: uppercase;
        }

        .logotypes {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          flex-direction: column;

          .partner-el {
            margin-bottom: 32px;

            img {
              display: block;
              margin: auto;
              width: 300px;
            }
          }
        }
      }
    }
  }
}

.container-menu {
  width: calc(100% - 120px);
  margin: auto;


  .row {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
  }

}

.container.abs-cnt {
  width: 1280px;
  margin: auto;
  position: absolute;
  top: 0;
  left: calc((100% - 1280px) / 2);

  @media(max-width: 1570px) {
    width: 80%;
    left: 10%;
  }

  .row {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
  }

}

.hidden {
  display: none !important;
}

.margin-bottom-32 {
  margin-bottom: 32px;
}

section.gray {
  background-color: $lightGray;
}

section.gray-wave-middle {
  background: url("../img/wave_white.png") no-repeat 20% $lightGray;
}

section.white-wave-bottom {
  background: url("../img/wave_gray_fluid.png") repeat-x bottom center #FFF;
}

section.gray-wave-bottom {
  background: url("../img/wave_white_fluid.png") repeat-x bottom center $lightGray;
}

a.arrow-btn {
  display: table;
  padding: 10px 35px 10px 55px;

  @include defaultFontRegular($fontsize:1.2rem);
  text-decoration: none;
  border-radius: 25px;
}

a.arrow-btn.green-btn {
  background: url("../img/arrows/arrow-green.png") no-repeat 20px 12px;
  border: 2px solid $darkGreen;
  color: $green;
}

a.arrow-btn.orange-btn {
  background: url("../img/arrows/arrow-orange.png") no-repeat 20px 12px;
  border: 2px solid $orange;
  color: $orange;
}



nav.menu {
  background-color: $bgColor;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 120px;
  z-index: 98;

  .container-menu {
    .row {
      .col-left-menu {
        width: calc((100% - 180px) / 2);
      }

      .col-center-logo {
        width: 180px;

        img {
          max-width: 160px;
          display: block;
          margin: 0 auto -10px auto;
        }
      }

      .col-right-menu {
        width: calc((100% - 180px) / 2);
      }


      ul.menu {
        li {
          padding-bottom: 30px;

          a {
            @include defaultFontSemiBold($fontsize:1.1rem);
            color: $darkGreen;
            text-decoration: none;
            display: table;
            padding: 20px 20px 20px 20px;
          }
        }

        // li:after {
        //   content: "";
        //   display: block;
        //   width: 100%;
        //   height: 1px;
        //   background: transparent;
        // }

        // li.active:after {
        //   content: "";
        //   display: block;
        //   width: 100%;
        //   height: 1px;
        //   background: $darkGreen;
        // }

        li.has-parent {
          ul {
            display: none;
          }
        }


        li.has-parent:hover {
          position: relative;

          ul::before {
            content: "";
            position: absolute;
            right: 80px;
            top: -25px;
            display: block;
            height: 20px;
            width: 20px;
            transform: rotate(45deg);
            background-color: $bgColor;
            border-left: 1px solid $darkGreen;
            border-top: 1px solid $darkGreen;
          }

          ul {
            // display: none;
            position: absolute;
            right: -10px;
            top: calc(1.1rem + 70px);
            background: $bgColor;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            // justify-content: center;
            width: 400px;
            padding: 10px;
            box-shadow: 4px 8px 0 $darkGreen;

            li {
              width: calc(100% / 2);
              padding-bottom: 0;
              margin-bottom: 10px;
              text-align: center;

              a {
                width: 100%;
                padding: 10px 30px 10px 30px;
                @include defaultFontRegular($fontsize:1rem);
              }
            }
          }
        }


      }


      .col-left-menu {
        ul {
          display: flex;
          flex-wrap: nowrap;
          align-items: center;
          justify-content: flex-end;
        }
      }

      .col-right-menu {
        ul {
          display: flex;
          flex-wrap: nowrap;
          align-items: center;
          justify-content: flex-start;
        }
      }

    }
  }

  .search-icon-link {
    position: absolute;
    right: 20px;
    top: 2.2rem;
    z-index: 1;

    a {
      img {
        width: 40px;
      }
    }
  }

}


nav.submenu {
  // border-bottom: 1px solid $darkGreen;
  background-color: $lightGray;

  .container {
    .row {
      justify-content: flex-end;

      ul.menu.menu-bottom {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        li {
          a {
            @include defaultFontBold($fontsize:0.9rem);
            color: #000;
            text-decoration: none;
            display: table;
            padding: 16px 20px 16px 45px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
          }
        }

        li.sign-o-nas {
          a {
            background: url('../img/about-icon-black.svg') no-repeat left 7px;
            background-size: 35px;
          }
        }

        li.sign-nasze-katalogi {
          a {
            background: url('../img/doc-icon-black.svg') no-repeat left 7px;
            background-size: 35px;
          }
        }
      }

    }
  }
}


.double-container {


  section.intro-search {
    padding-bottom: 60px;
    padding-top: 60px;

    .container {
      .row {
        justify-content: center;

        .col-search-icon {
          margin-right: 64px;

          a {
            img {
              width: 120px;
            }
          }
        }

        .col-search-catalog-link {

          .row-search-more {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: flex-start;

            .col-text {
              h2 {
                color: $green;
                @include defaultFontSemiBold($fontsize:2rem);
              }

              span.catalog-name {
                @include defaultFontLight($fontsize:1.4rem);
              }

              margin-right: 32px;
            }

            .col-btn {
              a {
                border: 2px solid #FFF;
                padding: 5px 35px 5px 55px;
                text-decoration: none;
                border-radius: 25px;
                @include defaultFontRegular($fontsize:1.2rem);
                display: block;
                height: 45px;
                width: 120px;
                background: url("../img/arrows/arrow-white.png") no-repeat center 12px $green;
              }
            }

          }


        }
      }
    }
  }

}

section.home-article {
  min-height: 400px;
  padding-top: 96px;
  padding-bottom: 96px;


  .container {
    .row {


      .left-col {
        width: calc(34% - 32px);
        margin-right: 64px;
      }

      .right-col {
        width: calc(56% - 32px);
      }


      .right-col {
        h2.title-art {
          color: $green;
          @include defaultFontSemiBold($fontsize:2.4rem);
          text-align: center;
          margin-bottom: 48px;
          text-transform: uppercase;
        }

        .intro-content {
          color: $grayFont;
          line-height: 1.8rem;
        }

        .more-beam {
          padding-top: 32x;
          text-align: right;

          a {
            float: right;
          }
        }
      }

      .left-col {
        img {
          // box-shadow: 0 0 20px $mediumGray;
          box-shadow: -4px 8px 0 $green;
        }
      }

    }
  }
}




section.boxes-home {
  margin-top: 64px;
  // padding-bottom: 160px;
  background: none;

  .container {
    .row {
      align-items: flex-start;
      justify-content: flex-start;
      flex-wrap: wrap;

      .col-box {
        width: calc((100% - 64px) / 3);
        margin-right: 32px;
      }

      .col-box:nth-child(3n+3) {
        margin-right: 0;
      }


      .col-box {

        margin-bottom: 96px;

        h2.title-bx {
          @include defaultFontSemiBold($fontsize:1.8rem);
          min-height: 4.8rem;
          margin-bottom: 16px;
          line-height: 2.4rem;
          padding-left: 15px;
        }

        .image-bx-el {
          width: calc(100% - 20px)
        }

        .more-btn {
          text-align: right;
          padding: 22px 16% 0 0;

          a {
            border: 2px solid #FFF;
            padding: 5px 35px 5px 55px;
            text-decoration: none;
            border-radius: 25px;
            @include defaultFontRegular($fontsize:1.2rem);
            color: #FFF;
            background: url("../img/arrows/arrow-white.png") no-repeat 20px 12px;
          }
        }

      }

    }
  }
}




section.map-attraction-section {
  padding-bottom: 200px;
  padding-top: 64px;

  .container {

    .row-grid {

      .item1 {
        grid-area: map;
      }

      .item2 {
        grid-area: topLeftSmall;
      }

      .item3 {
        grid-area: topRightBig;
      }

      .item4 {
        grid-area: bottomLeftBig;
      }

      .item5 {
        grid-area: bottomRightSmall;
      }


      display: grid;
      grid-gap: 24px;
      grid-template-areas: 'map topLeftSmall topLeftSmall topRightBig'
      'map topLeftSmall topLeftSmall topRightBig'
      'map topLeftSmall topLeftSmall topRightBig'
      'map bottomLeftBig bottomRightSmall bottomRightSmall'
      'map bottomLeftBig bottomRightSmall bottomRightSmall'
      'map bottomLeftBig bottomRightSmall bottomRightSmall'
      'map bottomLeftBig bottomRightSmall bottomRightSmall';



      .col {
        background: #CCC;
      }

      .col.item1 {
        min-height: 460px;
      }

    }

  }
}





section.contact-home {
  margin-top: 64px;

  .container {
    .row {
      align-items: flex-start;
      @include defaultFontRegular($fontsize:1rem);
      line-height: 1.4rem;

      .contact-data {
        width: calc((95% - 64px) / 3);
        margin-right: 32px;
      }

      .contact-account {
        width: calc((110% - 64px) / 3);
        margin-right: 32px;
      }

      .contact-logo {
        width: calc((95% - 64px) / 3);
      }

      .contact-data {
        h2 {
          color: $green;
          @include defaultFontRegular($fontsize:2.2rem);
          margin-bottom: 32px;
        }
      }

      .contact-account {
        h3 {
          color: $green;
          @include defaultFontBold($fontsize:1.2rem);
          margin-bottom: 32px;
        }

        p {
          margin-bottom: 32px;
        }
      }

      .contact-logo {
        .logo-padding {
          padding: 0 32px 0 32px;
        }
      }

    }
  }
}

section.home-contact-map {
  margin-top: 64px;
}



header.catalog-name {
  position: relative;
  margin-top: 120px;
  height: 170px;

  h2 {
    text-align: center;
    color: #FFF;
    @include defaultFontRegular($fontsize:3.5rem);
    text-shadow: 1px 1px 0 #000;
  }

  h3 {
    text-align: center;
    color: #FFF;
    margin-top: 10px;
    @include defaultFontLight($fontsize:2.3rem);
    text-shadow: 1px 1px 0 #000;
  }


  .title-txt {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 40px;
    z-index: 3;
  }

  .image-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    filter: brightness(80%);
  }

  .shadow-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
  }
}

header.catalog-name.event-t-summer {
  .image-bg {
    background: url('../img/catalog-banner-summer.jpg') no-repeat top center;
    background-size: cover;
  }

  .shadow-bg {
    box-shadow: -6px -6px 0 $green inset;
  }
}

header.catalog-name.event-t-winter {
  .image-bg {
    background: url('../img/catalog-banner-winter.jpg') no-repeat top center;
    background-size: cover;
  }

  .shadow-bg {
    box-shadow: -6px -6px 0 $granat inset;
  }


}

section.events-filters {
  background-color: $lightGray;

  .container {
    .row {
      align-items: flex-start;
      justify-content: flex-start;
      flex-wrap: wrap;

      .col-filters {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        padding-left: 32px;
        padding-top: 32px;
        padding-bottom: 32px;
        width: 100%;



        .label-filters {
          margin-right: 16px;
          @include defaultFontSemiBold(1rem);
        }

        .beam-filters {

          a {
            border: 2px solid $filtersGray;
            color: $filtersGray;
            padding: 4px 20px;
            border-radius: 25px;
            text-decoration: none;
            text-transform: lowercase;
            margin-right: 8px;
          }

          a.active {
            border: 2px solid $filtersGray;
            background-color: $filtersGray;
            color: #FFF;
          }
        }
      }
    }
  }
}

section.events-organize {
  margin-top: 64px;

  .container {
    .row {
      align-items: flex-start;
      justify-content: flex-start;
      flex-wrap: wrap;



      // .col-filters.color-summer {
      //   .beam-filters {

      //     a {
      //       border: 2px solid $green;
      //       color: $green;
      //     }

      //     a.active {
      //       border: 2px solid $green;
      //       background-color: $green;
      //       color: #FFF;
      //     }

      //   }

      // }

      // .col-filters.color-winter {
      //   .beam-filters {

      //     a {
      //       border: 2px solid $granat;
      //       color: $granat;
      //     }

      //     a.active {
      //       border: 2px solid $granat;
      //       background-color: $granat;
      //       color: #FFF;
      //     }

      //   }
      // }

      .col-stock {
        width: 100%;

        .event-row {
          width: 100%;
          margin-bottom: 64px;
          display: flex;
          flex-wrap: wrap;

          .col-title {
            width: 100%;
            height: 4.8rem;
            display: flex;
            align-items: center;
            padding-left: 32px;
            @include defaultFontRegular($fontsize:1.4rem);
            background-color: $yellow;
            color: $filtersGray;
            text-shadow: 0px 0px 30px #FFF;
          }

          .event-top {
            display: flex;
            align-items: flex-start;
            flex-wrap: nowrap;
            padding: 16px 0;
            width: calc(100% - 20px);

            .image-col {
              width: 250px;
              margin-right: 32px;
            }

            .data-col {
              width: calc(100% - 32px);
              display: flex;
              flex-wrap: nowrap;
              align-items: flex-start;

              .event-content {
                width: calc(100% - 200px);
              }

              .price-data {
                width: 200px;
              }

            }

            .image-col {}

            .data-col {
              .event-content {
                padding: 0 32px 0 0;


                h2.event-name {
                  @include defaultFontBold($fontsize:1.8rem);
                  text-transform: uppercase;
                  margin-bottom: 16px;
                }

                // h2.event-name:after {
                //   content: "";
                //   display: block;
                //   width: 30%;
                //   height: 1px;
                //   background-color: $green;
                //   margin-bottom: 20px;
                //   margin-top: 10px;
                // }

                .date-area {
                  @include defaultFontRegularItalic($fontsize:1.2rem);
                  display: flex;
                  flex-wrap: nowrap;
                  align-items: center;

                  span.days-count {
                    margin-right: 4px;
                    padding: 4px 10px;
                    color: #FFF;
                  }

                  span.date-area-str {
                    padding: 4px 10px;
                    color: #FFF;
                  }
                }

                .desc {
                  margin-bottom: 32px;
                  margin-top: 32px;
                  line-height: 1.8rem;
                }

                .region-row {

                  display: flex;
                  flex-wrap: nowrap;
                  margin-bottom: 8px;

                  .region-label {
                    margin-right: 8px;
                    @include defaultFontSemiBold(0.9rem);
                    min-width: 70px;
                  }

                  .regions {
                    display: flex;
                    flex-wrap: wrap;

                    span.region-badge {
                      background-color: $darkGray;
                      padding: 4px 10px;
                      margin: 0 4px 4px 0;
                      color: #FFF;
                      @include defaultFontRegular(0.9rem);
                    }
                  }

                }

                .ages-row {

                  display: flex;
                  flex-wrap: nowrap;

                  .ages-label {
                    margin-right: 8px;
                    @include defaultFontSemiBold(0.9rem);
                    min-width: 70px;
                  }

                  .ages {
                    display: flex;
                    flex-wrap: wrap;

                    span.age-badge {
                      background-color: $darkGray;
                      padding: 4px 10px;
                      margin: 0 4px 4px 0;
                      color: #FFF;
                      @include defaultFontRegular(0.9rem);
                    }

                  }

                }

              }

              .price-data {
                text-align: right;

                span.price-span {
                  color: $bordo;
                  @include defaultFontRegular(1.9rem);

                  small.sufix-p {
                    @include defaultFontLight(1.2rem);
                    color: #000;
                  }
                }
              }

            }


          }

          .event-bottom {
            display: flex;
            flex-wrap: nowrap;
            width: calc(100% - 40px);
            margin-left: 20px;
            align-items: center;
            justify-content: space-between;

            .catalog-number {
              .number-c {
                padding-left: 16px;
                color: #FFF;
                display: flex;
                flex-wrap: nowrap;
                align-items: center;

                span.label-nr {
                  margin-right: 16px;
                  @include defaultFontRegular(0.9rem);
                }

                span.catalog-badge {
                  @include defaultFontRegular(1.2rem);
                }
              }
            }

            .more-event {
              height: 68px;

              a {
                display: table;
                margin-top: 14px;
                border: 2px solid #FFF;
                padding: 10px 35px 10px 55px;
                text-decoration: none;
                border-radius: 25px;
                @include defaultFontRegular($fontsize:1.2rem);
                color: #FFF;
                background: url("../img/arrows/arrow-white.png") no-repeat 20px 12px;
              }
            }
          }

        }

        .event-row.summer {

          .col-title {
            // color: $green;
            border-top: 1px solid $green;
            border-right: 1px solid $green;
            box-shadow: -5px 5px 0 $green;
          }

          .image-col {
            img {
              box-shadow: 4px 8px 0 $green;
            }
          }

          .event-top {
            box-shadow: 20px 70px 0 $green, -0px 70px 0 $green;

            h2.event-name {
              color: $green;
            }


            .date-area {
              span.days-count {
                background-color: $green;
              }

              span.date-area-str {
                background-color: $bordo;
              }
            }
          }
        }

        .event-row.winter {

          .col-title {
            // color: $granat;
            border-top: 1px solid $granat;
            border-right: 1px solid $granat;
            box-shadow: -10px 10px 0 $granat;
          }


          .event-top {
            box-shadow: 20px 70px 0 $granat, -0px 70px 0 $granat;

            h2.event-name {
              color: $granat;
            }

            .image-col {
              img {
                box-shadow: 4px 8px 0 $granat;
              }
            }

            .date-area {
              span.days-count {
                background-color: $granat;
              }

              span.date-area-str {
                background-color: $bordo;
              }
            }
          }
        }


        .event-row.avl {



          .info-avl {
            display: flex;
          }

          .info-no-avl {
            display: none;
          }

          .info-full-persons {
            display: flex;
            margin-top: 8px;
            margin-bottom: 8px;

            span.event-full {
              color: $bordo;
              @include defaultFontSemiBold($fontsize:1.2rem);
            }
          }
        }

        .event-row.not-avl {

          .col-title {
            color: $darkGray;
            border-top: 1px solid $darkGray;
            border-right: 1px solid $darkGray;
            box-shadow: -10px 10px 0 $darkGray;
          }

          .event-top {
            box-shadow: 20px 70px 0 $darkGray, -0px 70px 0 $darkGray;

            h2.event-name {
              color: #000;
            }


            .date-area {
              span.days-count {
                background-color: $darkGray;
              }

              span.date-area-str {
                background-color: $darkGray;
              }
            }
          }


          .info-avl {
            display: none;
          }

          .info-no-avl {
            display: flex;
            margin-top: 8px;
            margin-bottom: 8px;

            span.event-end {
              color: #FFF;
              padding: 4px 10px;
              background-color: #384f40;
            }
          }

          .info-full-persons {
            display: none;
          }

        }

      }
    }
  }
}

header.search-banner {
  position: relative;
  margin-top: 120px;
  height: 170px;
  width: 100%;
  margin-left: 0;

  h2 {
    text-align: center;
    color: #FFF;
    @include defaultFontRegular($fontsize:3.5rem);
    text-shadow: 1px 1px 0 #000;
  }

  h3 {
    text-align: center;
    color: #FFF;
    margin-top: 10px;
    @include defaultFontLight($fontsize:2.3rem);
    text-shadow: 1px 1px 0 #000;
  }


  .title-txt {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 50px;
    z-index: 3;
  }

  .image-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    filter: brightness(80%);
    background: url('../img/catalog-banner-summer.jpg') no-repeat top center;
    background-size: cover;
  }

  .shadow-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    box-shadow: -6px -6px 0 $yellow inset;
  }

}

header.event-banner {
  position: relative;
  margin-top: 120px;
  height: 170px;
  width: 100%;
  margin-left: 0;

  h2 {
    text-align: center;
    color: #FFF;
    @include defaultFontRegular($fontsize:3.5rem);
    text-shadow: 1px 1px 0 #000;
  }

  h3 {
    text-align: center;
    color: #FFF;
    margin-top: 10px;
    @include defaultFontLight($fontsize:2.3rem);
    text-shadow: 1px 1px 0 #000;
  }


  .title-txt {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 50px;
    z-index: 4;
  }

  .image-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    filter: brightness(80%);
    z-index: 4;
  }

  .shadow-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
  }
}

header.event-banner.winter-banner {
  .image-bg {}

  .shadow-bg {
    box-shadow: -6px -6px 0 $granat inset;
    background: url('../img/banner-winter.jpg') no-repeat top center;
    background-size: cover;
  }
}

header.event-banner.summer-banner {
  .image-bg {}

  .shadow-bg {
    box-shadow: -6px -6px 0 $green inset;
    background: url('../img/event-banner.jpg') no-repeat top center;
    background-size: cover;
  }
}

header.event-banner.template-banner {
  .image-bg {}

  .shadow-bg {
    box-shadow: -6px -6px 0 $orange inset;
    background: url('../img/event-banner.jpg') no-repeat top center;
    background-size: cover;
  }
}



section.content-event {
  margin-top: 64px;

  .container {
    .row {
      display: flex;
      flex-wrap: nowrap;
      align-items: flex-start;

      .left-col {
        width: calc(40% - 64px);
        margin-right: 64px;
      }

      .right-col {
        width: 60%;
      }


      .left-col {
        .microgallery-cnt {
          line-height: 0;

          .show-first {
            img {
              cursor: pointer;
            }
          }

          .gallery-thumb-images {
            margin-top: 5px;

            .swp-gallery {
              display: grid;
              grid-template-columns: repeat(3, 1fr);
              grid-gap: 5px;


              figure.swp-gal-col {
                margin-block-start: 0;
                margin-block-end: 0;
                margin-inline-start: 0;
                margin-inline-end: 0;
              }
            }
          }
        }
      }

    }
  }

}



section.content-event-modern.event-winter {

  background: url('../img/bg-banner-winter.jpg') no-repeat center top;
  background-size: auto 360px;

  @media(min-width:1800px) {
    background: url('../img/bg-banner-winter.jpg') no-repeat center top;
    background-size: contain;
  }

  .abs-shadow {
    background-color: $granat;
  }

  .content-of-event {
    background-image: url("../img/color-squre-6-granat.jpg");
    background-repeat: no-repeat;
    background-size: 100% 6px;
    background-position: 0 120px;
  }

  .content-data::before {
    background-color: $granat;
  }

  .microgallery-cnt::after {
    background-color: $granat;
  }

  .label-color {
    color: $granat;
  }

  .left-col {
    box-shadow: 3px 3px 0 $granat;
  }

  .right-col {
    box-shadow: 0px 3px 0 $granat inset;

    h2.event-title {
      color: $granat;
    }

    .date-area {

      span.days-count {
        background-color: $granat;
      }
    }
  }

}


section.content-event-modern.event-summer {

  background: url('../img/bg-banner-summer.jpg') no-repeat center top;
  background-size: auto 360px;

  @media(min-width:1800px) {
    background: url('../img/bg-banner-summer.jpg') no-repeat center top;
    background-size: contain;
  }

  .abs-shadow {
    background-color: $green;
  }

  .content-of-event {
    background-image: url("../img/color-squre-6-green.jpg");
    background-repeat: no-repeat;
    background-size: 100% 6px;
    background-position: 0 120px;
  }

  .content-data::before {
    background-color: $green;
  }

  .microgallery-cnt::after {
    background-color: $green;
  }

  .label-color {
    color: $green;
  }

  .left-col {
    box-shadow: 3px 3px 0 $green;
  }

  .right-col {
    box-shadow: 0px 3px 0 $green inset;

    h2.event-title {
      color: $green;
    }

    .date-area {

      span.days-count {
        background-color: $green;
      }
    }

  }

}


section.content-event-modern.event-template {

  background: url('../img/bg-banner-template.jpg') no-repeat center top;
  background-size: auto 360px;

  @media(min-width:1800px) {
    background: url('../img/bg-banner-template.jpg') no-repeat center top;
    background-size: contain;
  }

  .abs-shadow {
    background-color: $orange;
  }

  .content-of-event {
    background-image: url("../img/color-squre-6-orange.jpg");
    background-repeat: no-repeat;
    background-size: 100% 6px;
    background-position: 0 120px;
  }

  .content-data::before {
    background-color: $orange;
  }

  .microgallery-cnt::after {
    background-color: $orange;
  }

  .label-color {
    color: $orange;
  }

  .left-col {
    box-shadow: 3px 3px 0 $orange;
  }

  .right-col {
    box-shadow: 0px 3px 0 $orange inset;

    h2.event-title {
      color: $orange;
    }

    .date-area {

      span.days-count {
        background-color: $bordo;
      }
    }

  }

}


section.content-event-modern {
  margin-top: 120px;
  padding-top: 64px;
  padding-bottom: 64px;
  position: relative;

  .abs-shadow {
    position: absolute;
    right: 0;
    top: 0;
    width: 6px;
    height: 360px;
  }

  .container {
    .row {
      .event-banner {
        position: relative;
        height: 170px;
        width: 100%;
        margin-left: 0;

        h2 {
          text-align: center;
          color: #FFF;
          @include defaultFontRegular($fontsize:3.5rem);
          text-shadow: 1px 1px 0 #000;
        }

        h3 {
          text-align: center;
          color: #FFF;
          margin-top: 10px;
          @include defaultFontLight($fontsize:2.3rem);
          text-shadow: 1px 1px 0 #000;
        }


        .title-txt {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          padding-top: 50px;
          z-index: 4;
        }
      }
    }
  }


  .content-of-event {
    position: relative;
  }


  .content-of-event .left-curtain {
    content: "";
    display: block;
    height: 60%;
    background-color: #FFF;
    position: absolute;
    top: 126px;
    width: calc((100% - 1280px) / 2);
    left: 0;

    @media(max-width: 1570px) {
      width: 10%;
    }
  }

  .content-of-event .right-curtain {
    content: "";
    display: block;
    height: 60%;
    background-color: #FFF;
    position: absolute;
    top: 126px;
    width: calc((100% - 1280px) / 2);
    right: 0;

    @media(max-width: 1570px) {
      width: 10%;
    }
  }

  .content-of-event .center-curtain {
    content: "";
    display: block;
    height: 60%;
    background-color: #FFF;
    position: absolute;
    top: 126px;
    width: 61px;
    left: calc(((100% - 1280px) / 2) + (1280px * 0.3) + 67px);

    @media(max-width: 1570px) {
      left: calc(10% + ((80% * 0.4) - 61px));
    }

  }

  .container {



    .row {
      display: flex;
      flex-wrap: nowrap;
      align-items: flex-start;

      .left-col {
        margin-top: 0px;
        width: calc(40% - 64px);
        margin-right: 64px;
      }

      .right-col {
        // margin-top: 32px;
        width: 60%;
      }

      .left-col {
        background-color: $bgColor;

        .padding-content-left {
          padding: 16px;

          // .more-padding {
          //   padding: 16px 16px;
          // }
        }
      }

      .right-col {
        // background: $lightGray;
        background-color: $bgColor;
        min-height: 700px;

        .padding-content-right {
          padding: 32px 32px 32px 32px;
        }
      }

      .left-col {

        .microgallery-cnt {
          line-height: 0;

          .show-first {
            img {
              cursor: pointer;
            }
          }

          .gallery-thumb-images {
            margin-top: 5px;

            .swp-gallery {
              display: grid;
              grid-template-columns: repeat(3, 1fr);
              grid-gap: 5px;


              figure.swp-gal-col {
                margin-block-start: 0;
                margin-block-end: 0;
                margin-inline-start: 0;
                margin-inline-end: 0;
              }
            }
          }

          &::after {
            content: "";
            display: block;
            height: 2px;
            width: 100%;
            margin-bottom: 32px;
            margin-top: 32px;
          }
        }

        .content-data {

          .content-label {
            @include defaultFontSemiBold($fontsize:1rem);
          }

          .content-text {
            margin-top: 16px;
            margin-bottom: 32px;
            line-height: 1.4rem;

          }



        }

      }

      .right-col {
        .event-title {
          display: flex;
          flex-wrap: nowrap;
          align-items: flex-start;

          h2.event-title {
            @include defaultFontBold($fontsize:1.8rem);
            text-transform: uppercase;
          }
        }

        .event-title-price {
          display: flex;
          flex-wrap: nowrap;
          justify-content: space-between;

          .col-title {
            align-self: flex-start;
          }

          .col-price {

            span.price-span {
              color: $bordo;
              @include defaultFontRegular(1.9rem);

              small.sufix-p {
                @include defaultFontLight(1.2rem);
                color: #000;
              }
            }
          }


          h2.event-title {
            @include defaultFontBold($fontsize:1.8rem);
            text-transform: uppercase;
          }



        }

        .date-area {
          @include defaultFontRegularItalic($fontsize:1.2rem);
          display: flex;
          flex-wrap: nowrap;
          align-items: center;
          margin-top: 12px;
          margin-bottom: 32px;

          span.days-count {
            margin-right: 4px;
            padding: 4px 10px;
            color: #FFF;
          }

          span.date-area-str {
            padding: 4px 10px;
            color: #FFF;
            background-color: $bordo;
          }

          span.date-area-str-muted {
            padding: 4px 10px;
            color: #FFF;
            background-color: $mediumGray;
          }
        }

        .region-row {

          display: flex;
          flex-wrap: nowrap;
          margin-bottom: 8px;

          .region-label {
            margin-right: 8px;
            @include defaultFontSemiBold(0.9rem);
            min-width: 70px;
          }

          .regions {
            display: flex;
            flex-wrap: wrap;

            span.region-badge {
              background-color: $darkGray;
              padding: 4px 10px;
              margin: 0 4px 4px 0;
              color: #FFF;
              @include defaultFontRegular(0.9rem);
            }
          }

        }

        .city-row {

          display: flex;
          flex-wrap: nowrap;
          margin-bottom: 8px;

          .city-label {
            margin-right: 8px;
            @include defaultFontSemiBold(0.9rem);
            min-width: 70px;
          }

          .cities {
            display: flex;
            flex-wrap: wrap;

            span.city-badge {
              background-color: $darkGray;
              padding: 4px 10px;
              margin: 0 4px 4px 0;
              color: #FFF;
              @include defaultFontRegular(0.9rem);
            }
          }

        }

        .attraction-row {

          display: flex;
          flex-wrap: nowrap;
          margin-bottom: 8px;

          .attraction-label {
            margin-right: 8px;
            @include defaultFontSemiBold(0.9rem);
            min-width: 70px;
          }

          .attractions {
            display: flex;
            flex-wrap: wrap;

            span.attraction-badge {
              background-color: $darkGray;
              padding: 4px 10px;
              margin: 0 4px 4px 0;
              color: #FFF;
              @include defaultFontRegular(0.9rem);
            }
          }

        }

        .theme-row {

          display: flex;
          flex-wrap: nowrap;
          margin-bottom: 8px;

          .theme-label {
            margin-right: 8px;
            @include defaultFontSemiBold(0.9rem);
            min-width: 70px;
          }

          .themes {
            display: flex;
            flex-wrap: wrap;

            span.theme-badge {
              background-color: $darkGray;
              padding: 4px 10px;
              margin: 0 4px 4px 0;
              color: #FFF;
              @include defaultFontRegular(0.9rem);
            }
          }

        }

      }

    }
  }

}


section.content-event-modern-next.event-winter {

  .container {
    .row {
      box-shadow: 20px 70px $granat,
        0 70px 0 $granat;
    }
  }

  .content-data::after {
    background-color: $granat;
  }

  .image-icon::after {
    background-color: $granat;
  }

  .image-icon {
    img {
      box-shadow: 4px 8px 0 $granat;
    }
  }

  .label-color {
    color: $granat;
  }

  .left-col {
    // box-shadow: 3px 3px 0 $granat;
  }

  .right-col {
    // box-shadow: 0px 3px 0 $granat inset;

    h2.event-title {
      color: $granat;
    }

    .date-area {

      span.days-count {
        background-color: $granat;
      }
    }
  }

  .microgallery-cnt {
    .show-first {
      box-shadow: 4px 8px 0 $granat;
    }
  }

}


section.content-event-modern-next.event-summer {

  .container {
    .row {
      box-shadow: 20px 70px $green, 0 70px 0 $green;
    }
  }

  .content-data::after {
    background-color: $green;
  }

  .image-icon {
    img {
      box-shadow: 4px 8px 0 $green;
    }
  }

  .image-icon::after {
    background-color: $green
  }

  .label-color {
    color: $green;
  }

  .left-col {
    // box-shadow: 3px 3px 0 $green;
  }

  .right-col {
    // box-shadow: 0px 3px 0 $green inset;

    h2.event-title {
      color: $green;
    }

    .date-area {

      span.days-count {
        background-color: $green;
      }
    }

  }

  .microgallery-cnt {
    .show-first {
      box-shadow: 4px 8px 0 $green;
    }
  }

}


section.content-event-modern-next.event-template {

  .container {
    .row {
      box-shadow: 20px 70px $orange, 0 70px 0 $orange;
    }
  }


  .content-data::after {
    background-color: $orange;
  }

  .image-icon {
    img {
      box-shadow: 4px 8px 0 $orange;
    }
  }

  .image-icon::after {
    background-color: $orange;
  }

  .label-color {
    color: $orange;
  }

  .left-col {
    // box-shadow: 3px 3px 0 $orange;
  }

  .right-col {
    // box-shadow: 0px 3px 0 $orange inset;

    h2.event-title {
      color: $orange;
    }

    .date-area {

      span.days-count {
        background-color: $bordo;
      }
    }

  }

  .microgallery-cnt {
    .show-first {
      box-shadow: 4px 8px 0 $orange;
    }
  }

}


section.content-event-modern-next {
  position: relative;
  margin-top: 64px;
  // margin-bottom: 64px;

  .content-of-event {
    position: relative;
  }


  .container {

    .row {
      display: flex;
      flex-wrap: nowrap;
      align-items: flex-start;

      .left-col {
        margin-top: 0px;
        width: calc(40% - 64px);
        margin-right: 64px;
      }

      .right-col {
        // margin-top: 32px;
        width: 60%;
      }

      .left-col {
        background-color: $bgColor;

        .padding-content-left {
          padding-top: 40px;
        }
      }

      .right-col {
        // background: $lightGray;
        background-color: $bgColor;
        min-height: 700px;

        .padding-content-right {
          padding: 32px 32px 32px 32px;
        }
      }

      .left-col {

        .microgallery-cnt {
          line-height: 0;
          margin-bottom: 64px;

          .show-first {
            img {
              cursor: pointer;
            }
          }

          .gallery-thumb-images {
            margin-top: 12px;

            .swp-gallery {
              display: grid;
              grid-template-columns: repeat(3, 1fr);
              grid-gap: 12px;


              figure.swp-gal-col {
                margin-block-start: 0;
                margin-block-end: 0;
                margin-inline-start: 0;
                margin-inline-end: 0;
              }
            }
          }


        }

        .image-icon::after {
          content: "";
          display: block;
          height: 2px;
          width: 100%;
          margin-bottom: 32px;
          margin-top: 32px;
        }

        .content-data {

          .content-label {
            @include defaultFontSemiBold($fontsize:1rem);
            text-transform: uppercase;
          }

          .content-text {
            margin-top: 16px;
            margin-bottom: 32px;
            line-height: 1.4rem;

          }

          &::after {
            content: "";
            display: block;
            height: 2px;
            width: 100%;
            margin-bottom: 32px;
            margin-top: 32px;
          }

        }

      }

      .right-col {
        .event-title {
          display: flex;
          flex-wrap: nowrap;
          align-items: flex-start;

          h2.event-title {
            @include defaultFontBold($fontsize:1.8rem);
            text-transform: uppercase;
          }
        }

        .event-title-price {
          display: flex;
          flex-wrap: nowrap;
          justify-content: space-between;

          .col-title {
            align-self: flex-start;
          }

          .col-price {

            span.price-span {
              color: $bordo;
              @include defaultFontRegular(1.9rem);

              small.sufix-p {
                @include defaultFontLight(1.2rem);
                color: #000;
              }
            }
          }


          h2.event-title {
            @include defaultFontBold($fontsize:1.8rem);
            text-transform: uppercase;
          }



        }

        .date-area {
          @include defaultFontRegularItalic($fontsize:1.2rem);
          display: flex;
          flex-wrap: nowrap;
          align-items: center;
          margin-top: 12px;
          margin-bottom: 32px;

          span.days-count {
            margin-right: 4px;
            padding: 4px 10px;
            color: #FFF;
          }

          span.date-area-str {
            padding: 4px 10px;
            color: #FFF;
            background-color: $bordo;
          }

          span.date-area-str-muted {
            padding: 4px 10px;
            color: #FFF;
            background-color: $mediumGray;
          }
        }

        .region-row {

          display: flex;
          flex-wrap: nowrap;
          margin-bottom: 8px;

          .region-label {
            margin-right: 8px;
            @include defaultFontSemiBold(0.9rem);
            min-width: 70px;
          }

          .regions {
            display: flex;
            flex-wrap: wrap;

            span.region-badge {
              background-color: $darkGray;
              padding: 4px 10px;
              margin: 0 4px 4px 0;
              color: #FFF;
              @include defaultFontRegular(0.9rem);
            }
          }

        }

        .city-row {

          display: flex;
          flex-wrap: nowrap;
          margin-bottom: 8px;

          .city-label {
            margin-right: 8px;
            @include defaultFontSemiBold(0.9rem);
            min-width: 70px;
          }

          .cities {
            display: flex;
            flex-wrap: wrap;

            span.city-badge {
              background-color: $darkGray;
              padding: 4px 10px;
              margin: 0 4px 4px 0;
              color: #FFF;
              @include defaultFontRegular(0.9rem);
            }
          }

        }

        .attraction-row {

          display: flex;
          flex-wrap: nowrap;
          margin-bottom: 8px;

          .attraction-label {
            margin-right: 8px;
            @include defaultFontSemiBold(0.9rem);
            min-width: 70px;
          }

          .attractions {
            display: flex;
            flex-wrap: wrap;

            span.attraction-badge {
              background-color: $darkGray;
              padding: 4px 10px;
              margin: 0 4px 4px 0;
              color: #FFF;
              @include defaultFontRegular(0.9rem);
            }
          }

        }

        .theme-row {

          display: flex;
          flex-wrap: nowrap;
          margin-bottom: 8px;

          .theme-label {
            margin-right: 8px;
            @include defaultFontSemiBold(0.9rem);
            min-width: 70px;
          }

          .themes {
            display: flex;
            flex-wrap: wrap;

            span.theme-badge {
              background-color: $darkGray;
              padding: 4px 10px;
              margin: 0 4px 4px 0;
              color: #FFF;
              @include defaultFontRegular(0.9rem);
            }
          }

        }

      }

    }
  }

}


.event-bottom.full-event {
  display: flex;
  flex-wrap: nowrap;
  width: calc(100% - 40px);
  margin-left: 20px;
  height: 70px;
  align-items: center;
  justify-content: space-between;

  .catalog-number {
    .number-c {
      padding-left: 16px;
      color: #FFF;
      display: flex;
      flex-wrap: nowrap;
      align-items: center;

      span.label-nr {
        margin-right: 16px;
        @include defaultFontRegular(0.9rem);
      }

      span.catalog-badge {
        @include defaultFontRegular(1.2rem);
      }
    }
  }

  .more-event {
    height: 68px;

    a {
      display: table;
      margin-top: 14px;
      border: 2px solid #FFF;
      padding: 10px 35px 10px 55px;
      text-decoration: none;
      border-radius: 25px;
      @include defaultFontRegular($fontsize:1.2rem);
      color: #FFF;
      background: url("../img/arrows/arrow-white.png") no-repeat 20px 12px;
    }
  }
}





header.articles-banner {
  position: relative;
  margin-top: 120px;
  height: 170px;
  width: 100%;
  margin-left: 0;

  h2 {
    text-align: center;
    color: #FFF;
    @include defaultFontRegular($fontsize:3.5rem);
    text-shadow: 1px 1px 0 #000;
  }

  h3 {
    text-align: center;
    color: #FFF;
    margin-top: 10px;
    @include defaultFontLight($fontsize:2.3rem);
    text-shadow: 1px 1px 0 #000;
  }


  .title-txt {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 50px;
    z-index: 3;
  }

  .image-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    filter: brightness(80%);
    background: url('../img/catalog-banner-summer.jpg') no-repeat top center;
    background-size: cover;
  }

  .shadow-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    box-shadow: -6px -6px 0 $orange inset;
  }

}

section.article-cnt {
  margin-top: 64px;
}

section.article {
  padding-bottom: 32px;
  padding-top: 32px;
  clear: both;

  .container {
    .row {
      align-items: flex-start;

      .col-articles {
        width: 100%;

        .row-article {
          display: flex;
          flex-wrap: nowrap;
          align-items: center;

          .content-text {
            line-height: 1.8rem;
          }

          img {
            // box-shadow: 0 0 20px $mediumGray;
          }

          .more-beam {
            padding-top: 32px;

            a {
              float: right;
            }
          }
        }

        .row-article.odd {

          .col-left {
            width: calc(75% - 32px);
            margin-right: 64px;
            // h2.art-title {
            //   text-align: right;
            // }
          }

          .col-right {
            width: calc(25% - 32px);

            img {
              box-shadow: -4px 8px 0 $orange;
            }
          }
        }

        .row-article.even {
          .col-left {
            width: calc(25% - 32px);
            margin-right: 64px;

            img {
              box-shadow: 4px 8px 0 $orange;
            }
          }

          .col-right {
            width: calc(65% - 32px);

            // h2.art-title {
            //   text-align: left;
            // }
          }
        }

        .row-article {
          h2.art-title {
            color: $orange;
            @include defaultFontBold(1.8rem);
            margin-bottom: 32px;
            text-transform: uppercase;
          }
        }

      }
    }
  }
}

section.article.odd {
  background-color: $lightGray;
}

section.article.even {}


section.blog-one-cnt {
  margin-top: 64px;
}


section.blog-one {
  padding-bottom: 32px;
  padding-top: 32px;
  clear: both;

  .container {
    .row {
      align-items: flex-start;

      .col-articles {
        width: 100%;

        .row-article {
          display: flex;
          flex-wrap: nowrap;
          align-items: center;

          .content-text {
            line-height: 1.8rem;
          }

          .date-view {
            margin-bottom: 16px;
            @include defaultFontRegularItalic(1rem);
            color: $darkGray;
          }

          img {
            // box-shadow: 0 0 20px $mediumGray;
          }

          .more-beam {
            padding-top: 32px;

            a {
              float: right;
            }
          }
        }

        .row-article.odd {

          .col-left {
            width: calc(75% - 32px);
            margin-right: 64px;
            // h2.art-title {
            //   text-align: right;
            // }
          }


          .col-right {
            width: calc(25% - 32px);

            img {
              box-shadow: -4px 8px 0 $orange;
            }
          }
        }

        .row-article.even {
          .col-left {
            width: calc(25% - 32px);
            margin-right: 64px;

            img {
              box-shadow: 4px 8px 0 $orange;
            }
          }

          .col-right {
            width: calc(75% - 32px);

            // h2.art-title {
            //   text-align: left;
            // }
          }
        }

        .row-article {
          h2.art-title {
            color: $orange;
            @include defaultFontBold(1.8rem);
            margin-bottom: 32px;
            text-transform: uppercase;
          }
        }

      }
    }
  }
}







section.blog-one.odd {
  background-color: $lightGray;
}

section.blog-one.even {}


section.blog {

  margin-top: 64px;

  .container {
    .row {
      align-items: flex-start;

      .col-blog {
        .row-blog-articles {
          display: flex;
          align-items: flex-start;
          width: 100%;
          flex-wrap: wrap;

          .col-art {
            display: flex;
            flex-wrap: nowrap;
            align-items: flex-start;
            width: calc((100% - 64px) / 2);
            margin-bottom: 64px;

            .col-image {
              width: 180px;
              margin-right: 32px;
            }

            .col-data {
              width: calc(100% - 212px);

              h2.art-title {
                color: $orange;
                @include defaultFontBold(1.8rem);
                margin-bottom: 16px;
                text-transform: uppercase;
              }


            }

            .col-image {
              img {
                box-shadow: 4px 8px 0 $orange;
              }
            }

            .col-data {
              .date-view {
                @include defaultFontLightItalic(1rem);
                margin-bottom: 16px;
              }

              .intro-content {
                line-height: 1.8rem;
                padding: 0 16px 32px 0;
              }

              .more-beam {
                a {
                  float: right;
                }
              }
            }

          }

          .col-art:nth-child(2n+2) {
            margin-left: 64px;

          }
        }
      }
    }
  }
}

@import 'front-rotor.scss';