@mixin gradient_vertical($from,$to){
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,7db9e8+100 */
background: $from; /* Old browsers */
background: -moz-linear-gradient(top, $from 0%, $to 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, $from 0%,$to 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, $from 0%,$to 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$from', endColorstr='$to',GradientType=0 ); /* IE6-9 */
}

@mixin verticalSharpGradient($from,$to){
  background: $from; /* Old browsers */
  background: -webkit-repeating-linear-gradient($from, $from 49.9%, $to 50.1%, $to 100%);
  background: -o-repeating-linear-gradient($from, $from 49.9%, $to 50.1%, $to 100%);
  background: -moz-repeating-linear-gradient($from, $from 49.9%, $to 50.1%, $to 100%);
  background: repeating-linear-gradient($from, $from 49.9%, $to 50.1%, $to 100%);
  background: -moz-linear-gradient(top,  $from 0%, $from 50%, $to 50%, $to 100%); /* FF3.6+ */
  background: -webkit-linear-gradient(top,  $from 0%,$from 50%,$to 50%,$to 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  $from 0%,$from 50%,$to 50%,$to 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  $from 0%,$from 50%,$to 50%,$to 100%); /* IE10+ */
  background: linear-gradient(to bottom,  $from 0%,$from 50%,$to 50%,$to 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='$to',GradientType=1 ); /* IE6-9 */
}