extends ../layouts/layout.pug

block header

block content
    .double-container
        .row
            .col-left-double
 
            .col-right-double
                .right-content-db
                     
block footer
    include ../partials/contact-section.pug